.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  background: rgb(148, 5, 5);
  color: whitesmoke
}
.dashboard{
  background: rgb(206, 25, 19);
  width: 30%;
  position: relative;
  left: 35%
}
.form{
  background: green;
  float: right;
}
.picture{
  max-width: 80%;
  margin: 10%
}